@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");
    
body {
background-image:url('https://cloud.githubusercontent.com/assets/5033773/3749450/365dfeb0-17ec-11e4-93d2-f8479b252169.JPG');
background-size: cover;
background-repeat: no-repeat;
}
 
nav{    
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding:0;
  margin-right: 10px;
  opacity:0.6;
}

#brand {
  font-size: 60px;
}

.navbar {
  margin-top: 100px;
}

span {
  color: black;
}

h3 {
  color: black;
}

h1 {
  color: black;
  margin: 20px;
}

h4 {
  color: black;
}

Footer {
display:block;
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
background-color: Black;
opacity:0.9;
}

p {
  color: black;
  font-size: 30px;
  text-align:center
}

li {
  color:Black;
}

.well {
  padding: 10px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0 ,0.6);
}

img {
  opacity: 1;
}

.thumbnail {
  margin-top: 15px;
  padding: 10%;
  background: rgba(0, 0, 0 ,0.6);
  width: 50%;
  height: 50%;
}

.caption {
    background: transparent;
}

.alpha60 {
 background: rgba(255, 255, 255, 255.6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
}
